# Local .terraform directories
**/.terraform/**

# .tfstate files
**.tfstate
**.tfstate.*

# Crash log files
crash.log
crash.*.log

# local creds file
terraform/proxmox/creds.auto.tfvars
terraform/harvester/creds.auto.tfvars

# ./Terraform backup files
**.tfstate.backup

# Kubernetes/Talos configs (contain credentials)
**/kubeconfig
**/talosconfig

# Terraform plan files
*.tfplan
