---
# Page meta info, like heading, footer text and nav links
pageInfo:
  title: TechDufus Home Lab
  description: Welcome to the Home Lab!
  navLinks:
  - title: GitHub
    path: https://github.com/matthewjdegarmo/
  - title: Twitter
    path: https://twitter.matthewjdegarmo.com/
  - title: Documentation
    path: https://dashy.to/docs

# Optional app settings and configuration
appConfig:
  theme: colorful
  statusCheck: true
  statusCheckInterval: 10
  defaultOpeningMethod: newtab
  layout: auto
  iconSize: medium

# Main content - An array of sections, each containing an array of items
sections:
- name: ProxMox Current CPU
  icon: hl-proxmox
  layout: grid
  widgets:
  - type: gl-current-cpu
    options:
      hostname: http://proxmox.home.io:61208
- name: ProxMox Current RAM
  icon: hl-proxmox
  layout: grid
  widgets:
  - type: gl-current-mem
    options:
      hostname: http://proxmox.home.io:61208
- name: Services
  icon: hl-wetty
  displayData:
    rows: 2
  items:
  - title: ProxMox
    description: ProxMox VE node.
    url: https://proxmox.home.io:8006/
    icon: hl-proxmox
    statusCheckAllowInsecure: true
  - title: Portainer
    description: Container orchestration.
    url: http://container-host.home.io:9000
    icon: hl-portainer
  - title: SensuGO
    description: Monitoring Back-End
    url: http://container-host.home.io:3000
    icon: hl-sensu-green
  - title: Home Gateway
    description: Router / Gateway for my Home
    url: http://10.0.0.2/
    icon: hl-router
  - title: Pihole-Primary
    description: Primary Pi-Hole DNS server.
    url: http://pi.hole/admin
    icon: hl-pihole
  - title: Pihole-Secondary
    description: Secondary Pi-Hole DNS server.
    url: http://secondary.pi.hole/admin
    icon: hl-pihole
- name: Pi-Hole Primary Stats
  icon: hl-pihole
  displayData:
    rows: 3
  widgets:
  - type: pi-hole-stats
    updateInterval: 10
    options:
      hostname: http://pi.hole
      useProxy: true
      hideInfo: false
      hideChart: false
      hideStatus: false
- name: ProxMox Stat History
  icon: hl-proxmox
  layout: grid
  displayData:
    itemSize: small
    sectionLayout: grid
    cols: 2
    rows: 3
  widgets:
  - type: gl-cpu-history
    options:
      hostname: http://proxmox.home.io:61208
      limit: 400
  - type: gl-mem-history
    options:
      hostname: http://proxmox.home.io:61208
      limit: 400
- name: Flux Nodes
  icon: hl-runonflux-mark-blue
  displayData:
    collapsed: false
  items:
  - title: cumulus0
    description: Flux Node
    url: http://10.0.0.10:16126
    icon: hl-runonflux
  - title: cumulus1
    description: Flux Node
    url: http://10.0.0.11:16136
    icon: hl-runonflux
  - title: cumulus2
    description: Flux Node
    url: http://10.0.0.12:16146
    icon: hl-runonflux
  - title: cumulus3
    description: Flux Node
    url: http://10.0.0.13:16156
    icon: hl-runonflux
  - title: cumulus4
    description: Flux Node
    url: http://10.0.0.14:16166
    icon: hl-runonflux
  - title: cumulus5
    description: Flux Node
    url: http://10.0.0.15:16176
    icon: hl-runonflux
- name: Crypto Nodes
  icon: https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/344/external-cpu-cyber-security-kiranshastry-gradient-kiranshastry-10.png
  items:
    - title: Polite Hazel Goat
      url: https://explorer.helium.com/hotspots/11tiHd3QtqvuQna4SMvMFJnJ7WMU9YJSTNLaxaYPzn8BrNzKnNH
      icon: https://www.bobcatminer.com/img/img_logo.8fd28a80.png
- name: Local Time
  displayData:
    collapsed: false
  widgets:
  - type: clock
    options:
      timeZone: America/Chicago
      format: en-US
      hideDate: false
