apiVersion: v1
kind: Service
metadata:
  name: homepage-tailscale
  namespace: homepage
  annotations:
    tailscale.com/hostname: "dashboard"
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: homepage
    app.kubernetes.io/instance: homepage
