apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: registry
  labels:
    app.kubernetes.io/name: registry
    app.kubernetes.io/component: registry
    app.kubernetes.io/managed-by: argocd
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: registry
    app.kubernetes.io/component: registry
  ports:
    - name: http
      port: 5000
      targetPort: http
      protocol: TCP
