---
- hosts: pihole_primary
  vars:
    roles_path: /etc/ansible/roles:../roles
    inventory: ../hosts.ini
  become: yes

  roles:
    - { role: common, tags: [common,primary] }
    - { role: pihole-primary, tags: [pihole-primary, primary] }


- hosts: pihole_secondary
  vars:
    roles_path: /etc/ansible/roles:../roles
    inventory: ../hosts.ini
  become: yes

  roles:
    - { role: common, tags: [common,secondary] }
    - { role: pihole-secondary, tags: [pihole-secondary,secondary] }
