---
- hosts: vpnhost
  vars:
    roles_path: /etc/ansible/roles:../roles
    inventory: ../hosts.ini
  become: true
  # strategy: free

  roles:
    - { role: common, tags: common }
    - { role: pivpn, tags: pivpn }

