#!/bin/bash

green=$'\033[32m'
yellow=$'\033[33m'
normal=$'\033[0m'
blue=$'\033[0;34m'
red='\033[1;31m'
printStyle="${blue}%-25s    ${normal}%-15s ${normal}%-10s \n"
printStyleWarn="${blue}%-25s    ${red}%-15s ${red}%-10s \n"

hst=`hostname`
vm_num="{{ flux.nodes[inventory_hostname].proxmox_vm_id }}"
node_type="{{ flux.nodes[inventory_hostname].tier }}"

disku_max=`df -Hl / | grep -v File | tr -s ' '|cut -f2 -d" "`
disku_perc=`df -Hl / | grep -v File | tr -s ' '|cut -f5 -d" "`
disku_num=${disku_perc%\%}
if [[ "$disku_num" -ge "90" ]]; then
  printStyleDisk=$printStyleWarn
else
  printStyleDisk=$printStyle
fi

if [[ `whoami` != "{{ ansible_user }}" ]]; then
	flux_node_details=$(su {{ ansible_user }} -c 'flux-cli getzelnodestatus')
	flux_bench_version=$(su {{ ansible_user }} -c 'fluxbench-cli getinfo' | jq -r '.version' 2>/dev/null)
else
	flux_node_details=$(flux-cli getzelnodestatus)
	flux_bench_version=$(fluxbench-cli getinfo | jq -r '.version' 2>/dev/null)
fi
flux_version=$(jq -r '.version' /home/{{ ansible_user }}/zelflux/package.json 2>/dev/null)
flux_node_status=$(jq -r '.status' <<<"$flux_node_details" 2>/dev/null)

if [[ "$flux_node_status" != "CONFIRMED" ]]; then
  printStyleStat=$printStyleWarn
else
  printStyleStat="${blue}%-25s    ${normal}%-15s ${green}%-10s \n"
fi

printf '=%.0s' {1..50}
printf "\n"
printf "${printStyle}"     "       ╓#╬╬╬╬#╖     " "Flux User:" "{{ ansible_user }}"
printf "${printStyle}"     "   ,-@╬╬╬╬╬╬╬╝╙╙╬φ╖ " "Hostname:" "${hst}"
printf "${printStyle}"     '   ╠╬╬╬╬╬╝╙   ╓,  " ' "ProxmoxID:" "${vm_num}"
printf "${printStyle}"     '   ╙²  "  ╓#╬╬╬╬╬#╗ ' "Node Type:" "${node_type}"   
printf "${printStyle}"     '   ╓@╬@╗  ╠╬╬╬╬╬╬╬╬ ' "Flux Version:" "${flux_version}" 
printf "${printStyle}"     '   ╠╬╬╬╬  ╠╬╬╬╬╬╬╬╬ ' "Flux Bench:" "${flux_bench_version}"
printf "${printStyleStat}" '    `╙^     ╙╬╬╬╩^  ' "FluxOS Status:" "${flux_node_status}"
printf "${printStyle}"     '        `╙╬φ-       ' "Usage of /:" "${disku_perc} of ${disku_max}"
printf '=%.0s' {1..50}
printf "\n"

printStyle="${blue}%-25s    ${normal}%-25s \n"


disku_num=${disku_perc%\%}
if [[ "$disku_num" -ge "90" ]]; then
  printStyleDisk=$printStyleWarn
else
  printStyleDisk=$printStyle
fi

