{
    "import_settings": "1",
    "prvkey": "{{ fluxnode_secret.nodepriv }}",
    "outpoint": "{{ flux.nodes[inventory_hostname].collid }}",
{% if flux.nodes[inventory_hostname].index is defined %}
    "index": {{ flux.nodes[inventory_hostname].index }},
{% else %}
    "index": "0",
{% endif %}
    "ssh_port": "22",
    "zelid": "{{ fluxnode_secret.zelid }}",
    "kda_address": "{{ fluxnode_secret.kda_address }}",
    "firewall_disable": "1",
    "bootstrap_url": "",
    "bootstrap_zip_del": "1",
    "swapon": "1",
    "use_old_chain": "1",
    "node_label": "{{ inventory_hostname }}",
    "discord": "{{ fluxnode_secret.discord_webhook }}",
    "ping": "{{ fluxnode_secret.discord_nick }}",
    "telegram_alert": "0",
    "telegram_bot_token": "0",
    "telegram_chat_id": "0",
{% if flux.nodes[inventory_hostname].eps is defined %}
    "eps_limit": "{{ flux.nodes[inventory_hostname].eps }}",
{% else %}
    "eps_limit": "{{ flux.default_eps }}"
{% endif %}
    "zelflux_update": "1",
    "zelcash_update": "1",
    "zelbench_update": "1",
    "enable_upnp": "1",
    "upnp_port": "{{ flux.nodes[inventory_hostname].upnp_port }}",
    "gateway_ip": "{{ flux.gateway }}"
  }
