module.exports = {
    label: '{{ inventory_hostname }}',
{% if flux.nodes[inventory_hostname].eps is defined %}
    "tier_eps_min": "{{ flux.nodes[inventory_hostname].eps }}",
{% else %}
    "tier_eps_min": "{{ flux.default_eps }}"
{% endif %}
    zelflux_update: '1',
    zelcash_update: '1',
    zelbench_update: '1',
    action: '1',
    ping: '{{ fluxnode_secret.discord_nick }}',
    web_hook_url: '{{ fluxnode_secret.discord_webhook }}',
    telegram_alert: '0',
    telegram_bot_token: '0',
    telegram_chat_id: '0'
}
