apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fizzy
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://github.com/TechDufus/home.io
      targetRevision: main
      path: kubernetes/charts/fizzy
      helm:
        releaseName: fizzy
        valueFiles:
          - $values/kubernetes/argocd/values/fizzy.yaml
    - repoURL: https://github.com/TechDufus/home.io
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: fizzy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 3
