apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-database
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  # Ignore CNPG operator defaults that cause drift
  ignoreDifferences:
    - group: postgresql.cnpg.io
      kind: Cluster
      managedFieldsManagers:
        - manager  # CNPG operator manager
  source:
    repoURL: https://github.com/TechDufus/home.io
    targetRevision: main
    path: kubernetes/argocd/manifests/immich-database
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 10s  # Longer delay for database initialization
        factor: 2
        maxDuration: 5m
  revisionHistoryLimit: 10  # Infrastructure component