apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    # Immich Helm chart
    - chart: immich
      repoURL: https://immich-app.github.io/immich-charts
      targetRevision: "*"
      helm:
        releaseName: immich
        valueFiles:
          - $values/kubernetes/argocd/values/immich.yaml
    # Values and manifests from Git
    - repoURL: https://github.com/TechDufus/home.io
      targetRevision: main
      ref: values
    # Immich supporting manifests (postgres, PVCs, etc.)
    - repoURL: https://github.com/TechDufus/home.io
      targetRevision: main
      path: kubernetes/argocd/manifests/immich
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 5m
  revisionHistoryLimit: 3
