apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
  namespace: immich
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-shared
  volumeName: immich-library
  resources:
    requests:
      storage: 500Gi
