apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-shared
  mountOptions:
    - hard
  nfs:
    server: 10.0.0.254
    path: /var/nfs/shared/Homelab/pvc-77265864-f2b3-427a-b943-4d5956a4c444
